* {
    margin: 0;
    padding: 0;
} 

body {
    padding-bottom: 100px;
}

.top {
    display: flex;
    align-items: center;
    padding: 15px; 
    justify-content: space-between;
    background-color: #f4ebe1;
}

.head {
    display: inline-block;
    font-family: Copperplate, Papyrus, fantasy;
    padding-right: 50px;
}

.menu-bar {
    font-family: Copperplate, Papyrus, fantasy;
}

.menu-item {
    display: inline-block;
    padding-left: 20px;
    font-family: Copperplate, Papyrus, fantasy;
    background: none;
    border: none;
    font-size: 16pt;
    border-radius: 40px;
    text-decoration: none;
    color: inherit;

    transition: 0.5s;
}

.menu-item:hover {
    font-size: 18pt;
}

.separator {
    background-color: rgb(107, 32, 32);
    width:100%;
    height: 8px;
}

.photo-box {
    width: 100%;
    height: 60%;

    position: relative;
}

.photo {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 50%
}

.paragraph {
    margin: 20px;
    font-family: Optima, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 16pt;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
    z-index: 9999;
    animation: fadeIn 0.8s;
}

.button-wrapper {
    display: inline-block;
    margin-right: 20px;
    vertical-align: center;
    text-align: center;
}

.button-wrapper img {
    height: 20px !important;
    width: 20px !important;
}


/*==================

    Footer CSS

==================*/

.copyright {
    margin: 0px;
    padding: 0px;
    color: white;    
    font-family: Optima, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

.footer {
    bottom: 0px;
    position: fixed;
    padding: 10px;
    background-color: #202020;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.social-media {
    padding-right: 30px;
    text-align: right
}

input {
    width: 100%;
    height: 30px;
    font-family: Arial, sans-serif;
}

.album-button {
    border: none;
    background: none;
    font-size: 13pt;
    text-align: center;
    margin: 30px;
    width: 220px;
    vertical-align: top;
    padding: 10px;

    transition: 0.5s;
    font-size: 12pt;
    font-family: Arial, sans-serif;
}

.album-button:hover {
    background: rgba(0, 0, 0, 0.2)
}

.album-cover {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.popup-menu {
    display: none;
    position: absolute;
    background: cornsilk;
    padding: 0px;
}

.popup-player {
    display: none;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;

    max-height: 500px;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.project-link {
    text-decoration: none;
    color: inherit;
    font-family: Optima, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0px;
  padding: 5px;
}

.arrow-button {
    border: none;
    background: none;
    padding: 5px;
    color: white;
    
    position: absolute;
    top: 45%;
    z-index: 99999;
    font-size: 25pt;
    
    transition: 0.4s
}

.arrow-button:hover {
    text-shadow: 0 0 10px rgb(218, 229, 255), 0 0 20px rgb(218, 229, 255), 0 0 40px rgb(218, 229, 255);
}

.scroll-button {
    border: none;
    background: none;
    color: white;
    opacity: 0.8;
}

.scroll-button:hover {
    text-shadow: 0 0 10px rgb(218, 229, 255), 0 0 20px rgb(218, 229, 255), 0 0 40px rgb(218, 229, 255);
}
